<div class="modal fade" id="joinGroupModal" tabindex="-1" aria-labelledby="joinGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="joinGroupModalLabel">Join group</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'join_group' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label class="mb-2" for="groupCode">Enter group code:</label>
                        <input type="text" class="form-control bg-dark text-light" id="groupCode" name="code" required>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>